Package: CD-ROM-auto-RIPper
Version: 0.2
Section: base
Priority: optional
Architecture: all
Depends: udev, abcde, handbrake-cli, libdvdcss2, lsdvd, libdvd-pkg, eject
Maintainer: renyard.m@gmail.com
Description: CD-ROM Auto RIPper.
  Auto RIP CD (~/Music) and DVD (~/Movies):
   - RIPs audio CD to Music folder
   - RIPs DVD movies to Movies folder
