Package: CD-ROM-auto-RIPper
Version: 0.1
Section: base
Priority: optional
Architecture: all
# udev, blkid, abcde, handbrake-cli, libdvdcss2, lsdvd, libdvd-pkg, eject
Depends: udev, ubuntu-restricted-extras, ubuntu-restricted-addons, abcde, lame, flac, libdvdcss2, lsdvd, libdvd-pkg, libdvdread-dev, handbrake-cli
Maintainer: renyard.m@gmail.com
Description: CD-ROM Auto RIPper.
  Auto RIP CD (~/Music) and DVD (~/Movies):
   - RIPs audio CD to Music folder
   - RIPs DVD movies to Movies folder
